@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  height: 100%;
}

.bg-image {
  background-image: url("/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "ggbatang";
  src: url("./fonts/ggbatang_Bold_subset.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  unicode-range: U+AC00-D7AF;
}
