.sprite_f {
  background-image: url("../../../../../assets/FramePage.png");
  background-repeat: no-repeat;
  background-size: 320px 56px;
}

.chip {
  width: 56px;
  height: 56px;
}

.chip_puppy {
  background-position: 0px 0px;
}

.chip_penguin {
  background-position: -66px 0px;
}

.chip_cat {
  background-position: -132px 0px;
}

.chip_panda {
  background-position: -198px 0px;
}

.chip_egg {
  background-position: -264px 0px;
}
